// Variables

$white: #fff;
$text: #4e4e4e;
$lightgrey: #b4b4b4;
$grey: #f4f4f4;
$red: #c1836d;
$darkred: #c57b61;
$charcoal: #2c2c2c;
$yellow: #edd267;
$blue: #85a4d8;

$boxred: #bb7762;
$boxyellow: #edd267;
$boxblue: #7b9dd5;

$hoverred: #445f88;
$hoverblack: #324a71;
$hoverwhite: #d2b797;

$eurostile: 'eurostile', sans-serif;

$media-s: "only screen and (min-width: 25em)";
$media-m: "only screen and (min-width: 38em)";
$media-l: "only screen and (min-width: 60em)";